#setting-button {
    width: 24px;
    height: 24px;
    top: 0px;
    right: 0px;
    color: black;
    position: fixed;
}

#left-shift::after {
    content: "SHIFT";
}

#left-alt::after {
    content: "ALT";
}

#left-control::after {
    content: "CTRL";
}

#r::after {
    content: "R";
}

#numpad-up::after {
    content: "↑";
}

#numpad-left::after {
    content: "←";
}

#numpad-right::after {
    content: "→";
}

#numpad-down::after {
    content: "↓";
}

.key-view {
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
}

.key-view::after {
    width: auto;
    height: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
}

.key-view-pressed {
    background-color: red;
}
