.switch-property {
    .right-area {
        width: auto;
        height: auto;
        float: right;
        align-items: center;
        display: flex;
        position: absolute;
        right: 0px;
    }
}