@import '../../scss/color.scss';

.setting {
    width: 100%;
    height: 100%;
    display: flex;

    .tabs {
        width: 256px;
        border-right: 1px solid $divider-color;
        background-color: $secondary-color;
    }

    .tab-panel {
        width: calc(100% - 256px);
        overflow: scroll;
    }

    .tab-panel::-webkit-scrollbar {
        display: none;
    }
}
